#name {
    border-bottom:black 1px solid; 
    padding-top:1rem;
}

#title {
    border-bottom:black 1px solid; 
    padding:0.5rem;
}

#contact {
    padding:1rem;
    font-size: medium;
    border-bottom: black 1px solid;
}

.external_link {
    border: black 2px solid;
    border-radius: 4px;
    padding:0.5rem;
    text-decoration: none;
    color:blue;
}

.external_link:hover {
    padding:0.5rem;
    text-decoration: none;
    color:orange;
}

.section_title {
    font-size:xx-large;
    padding:0.5rem;
    padding-left:2rem;
    padding-top:1rem;
    font-weight: bold;
}