body {
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif;
}

header {
    background:black; 
    color:white;
    padding:1rem !important;
}

.resume_head {
    background: rgb(127,0,0);
    color:white;
    padding:1.5rem;
}

#name {
    font-size:xx-large;
    font-weight: bold;
}

#teaching {
    visibility: visible;
}

.external_link {
    border-radius: 4px;
    padding:0.5rem;
    color:white;
    font-weight: bold;
}

.external_link:hover {
    color:orange;
}

.section_title {
    font-size:xx-large;
    padding:0.5rem;
    padding-left:1rem;
    padding-top:1rem;
    margin-bottom: 0px;
    font-weight: bold;
}

.activities {
    margin-top:1rem;
    padding:1rem;
}

.activities ul {
    list-style-type: none;
}

.activities li {
    font-weight: bold;
    border-bottom:black 1px solid;
}

.activities li:last-child {
    border-bottom:none;
}


.time {
    font-weight: bold;
}

.position {
    font-weight: normal;
}

.program {
    font-weight: 400;
}

.skill_box {
    margin-bottom:1rem;
}

.skill_title {
    font-weight:bold;
    font-size:larger;
    margin:1rem;
}

.skill_box > ul {
    list-style: none;
    margin-left:1rem;
    margin-right:1rem;
}

.skill_box li {
    background:teal;
    color:white;
    font-weight: bold;
    display: inline-block;
    border-radius:5px;
    padding:0.25rem;
    margin:0.1rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
}

.volunteer {
    background-color: black;
    color:white;
    padding:0.25rem;
    border-radius: 3px;
}

.author {
	font-weight:bold;
}

.title {
	font-style:italic;
}

.doi {
	font-weight:bold;
	text-decoration:none;
	color:teal;
}

.doi:hover {
	background-color:teal;
	color:white;
}

footer {
    margin:1rem;
    text-align: center;
    font-weight: bold;
}


@media print {
    .no_print {
        display:none;
    }

    * {
        float:none;
        break-before:avoid-page !important;
        break-inside:avoid-page !important;
        break-after:avoid-page !important;
        page-break-before:avoid-page !important;
        page-break-inside:avoid-page !important;
        page-break-after:avoid-page !important;
    }

    .container {
        width: 100% !important;
    }

    section::after {
        display:none !important;
    }
    
}