body {
    background: url(bg.jpg) no-repeat center center fixed;
    
}

#name {
    font-size: xxx-large;
    text-align: center;
}

#alt_names {
    margin-top:2rem;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#title {
    text-align: center;
    font-weight: bold;
}

#previous_title {
    text-align: center;
}

.container {
    background:white;
    padding:1rem;
    position:absolute;
    left:50%;
    top:50%;
    translate: -50% -50%;
    box-shadow: 0px 0px 5px black inset;
    border-radius: 1rem;
}

#contact {
    text-align: center;
    font-size:large;
    padding-bottom: 2rem;
}

.button {
    font-size:large;
}