body {
	margin: 0;
	padding: 0;
	background-color: #18A7B5;
  color:white !important;
  background: url('bg.png') no-repeat center center fixed;
  background-position: cover;
  background-size: cover;
}

.aboutMe {
	background-color: rgba(0, 128, 128, 0.6);
	color: white;
}

.navigation {
	background: transparent;
	font-size: small;
	text-align: center;
	padding-top:30px;
}

.topbar {
	text-align: center;
	background-color: white;
}

.large_link_list {
    list-style-type: none;
    font-size: x-large;
    margin-top: 50px;
    padding-bottom: 0px;
}

a {
    color: #FFE5B4;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

a:link {
    color: #FFE5B4;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

a:visited {
    color: #FFE5B4;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

a:hover {
    color: yellow;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}


.dropdown-menu {
    border: none !important;
    border-radius: 0px !important;
    color: orange !important;
}

.container {
    max-width: 900px !important;

}
