html {
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

body {
    
    border-bottom: black 1rem solid;
    background-color: white;
    color:black;
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3ffc6+0,b8c7d3+52,e5e5e5+100 */
background: linear-gradient(135deg, #f3ffc6 0%,#b8c7d3 52%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Header Style */

header {
    padding:0px;
    margin:auto;
    padding-bottom:1.5rem;
    color:black;
    border-bottom: none;
}

header h1 {
    margin:1.5rem;
    margin-bottom:0.5rem;
}

.name .subtitle {
    margin-top:0.5rem;
    margin-left:1.5rem;
    font-size: larger;
    margin-bottom:1rem;
    color:darkslategrey;
    font-weight: bold;
}

header > .title {
    margin-top:0.5rem;
    margin-left:1.5rem;
    font-size: medium;
}

/* Navigator Style */

nav {
    text-align: center;
    background-color: black;
    padding:1rem;
}

nav .button {
    padding:0.25rem;
    margin:0px;
    margin-left:0.25rem;
    margin-right:0.25rem;
    border-color:black;
}

/* Button */
.button {
    font-size: large;
    background-color: black;
    color:white;
    padding:0.5rem;
    margin-right:1rem;
    margin-bottom:1rem;
    min-width:5rem !important;
    border:#77777A 0.2rem solid;
    text-decoration: none;
    display:inline-block;
    text-align: center;
}

.button:hover {
    background-color: #B3282D;
    border:#77777A 0.2rem dashed;
}

/* Section Style */

section {
    margin:auto;
    max-width:1000px;
    border-bottom:black 0.2rem solid;
    color:black;
}

section h1 {
    color:black;
}

section > div {
    padding:1.5rem;
}

.name {
    font-size: x-large;
    color:white;
    padding-bottom: none;
    border:none;
}

.notice {
    background-color: goldenrod;
    color:black;
    border:none;
    margin-bottom:0.5rem;
}

.notice > div {
    padding:1.5rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

#bio {
    padding:2rem;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.85);
    color:white;
    border:none;
}

.return-top {
    background-color: black;
    float:right;
    padding:0.5rem;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.return-top:hover {
    background:#B3282D;
}

/* Paper list */
.paper-list {
    list-style-type: none;
    border:black 0.2rem solid;
    padding-left:0;
}

.paper-list > li {
    padding:1rem;
    
}

.paper-list > li:nth-child(odd) {
    background: rgb(245, 245, 245);
}

.paper-list > li:nth-child(even) {
    background: rgb(220, 220, 220);
}

.paper-button {
    background-color: white;
    padding:0.25rem;
    display: inline-block;
    color:darkslategray;
    text-decoration: none;
    font-weight: bold;
    border:#77777A 2px solid; 
}

.paper-button:hover {
    padding:0.25rem;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    border:darkslategray 2px dashed;
    background: #B3282D;
    color:white;
}

.paper-presentation {
    background-color: gray;
    color:white;
    margin-top:0.5rem;
    padding:0.2rem;
    display:inline-block;
    font-weight: bold;
}

/* Footer */
footer{
    background-color:transparent;
    color:black;
    max-width: 1000px;
    margin:auto;
    height:3rem;
}