#name {
	margin-bottom:2rem;
	margin-top:1rem;
}

#english_name {
	font-size:xx-large;
	font-weight:bold;
}

#thai_name {
	font-size:x-large;
	color:teal;
}

#chinese_name {
	font-size:x-large;
	color:teal;
}

#contact {
	background:teal;
	padding:0.5rem;
	color:white;
}

#contact > a {
	color:white;
	font-weight:bold;
	text-decoration:none;
}

#contact > a:hover {
	color:teal;
	background-color:white;
}

#image {
	float:right;
	width:5rem;
}