#name {
	margin-bottom:2rem;
	margin-top:3rem;
}

#english_name {
	font-size:xx-large;
	font-weight:bold;
}

#thai_name {
	font-size:x-large;
	color:indigo;
}

#chinese_name {
	font-size:x-large;
	color:red;
}

#contact {
	background:teal;
	background:linear-gradient(135deg, #1e000b 0%,#071f25 29%,#392c03 63%,#1f0506 89%,black 100%);
	padding:0.5rem;
	color:white;
}

#contact > a {
	color:white;
	font-weight:bold;
	text-decoration:none;
}

#contact > a:hover {
	color:teal;
	background-color:white;
}