#position_filters {
	font-family: Monaco, monospace;
	font-size:large;
	text-align:center;
	margin-bottom:1.5rem;
}

#toggle_label {
	font-weight:bold;
}

.toggle {
	border:2px teal solid;
	border-radius:5px;
	padding:0.3rem;
	cursor: pointer;
	display:inline-block;
	margin-top:0.3rem;
	box-shadow: 0px 0px 3px teal;
}

.toggle:hover {
	border:2px orange solid;
	background-color:orange;
	color:white;
	border-radius:5px;
	padding:0.3rem;
	margin-top:0.3rem;
	box-shadow: 0px 0px 3px orange;
}


.toggle.selected {
	border:2px teal solid;
	background-color:teal;
	color:white;
	border-radius:5px;
	padding:0.3rem;
}

.toggle.selected:hover {
	border:2px teal solid;
	background-color:teal;
	color:white;
	border-radius:5px;
	padding:0.3rem;
}

#position_list {
	list-style:none;
	padding-left:0;
}

#position_list li {
	box-shadow: 0px 0px 3px gray;
	background-color:gainsboro;
	color:black;
	padding:0.5rem;
	padding-right:1rem;
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-bottom:0.5rem;
}

#position_list .duration {
	box-shadow: 0px 0px 2px white;
	background-color:teal;
	font-size:small;
	text-align:center;
	padding:0.5rem;
	justify-content:center;
	vertical-align:center;
	min-height:2rem;
	width:2rem;
	border: 2px solid white;
}

#position_list .duration > hr {
	background:white;
	border: 1px solid white;
	width:50%;
	justify-content:center;
	height:0.05rem;
}

#position_list .education .duration {
	background-color:black;
	color:white;
}

#position_list .private .duration {
	background-color:brown;
	color:white;
}

#position_list .volunteer .duration {
	background-color:#9b870c;
	color:white;
}

#position_list .teaching .duration {
	background-color:teal;
	color:white;
}

#position_list .type_icon {
	font-size:xx-large;
	justify-content:center;
	flex: 0 0 1.8em;
	text-align:center;
	vertical-align:center;
}

#position_list .detail {
	justify-content: center;
	font-size:large;
	font-weight:bold;
}

#position_list .sub_detail {
	font-weight:normal;
}

@media only screen and (max-width: 800px) {
	
	#position_list .detail {
		padding-left:1rem;
		font-size:small;
	}
	
	#position_list .type_icon {
		display:none;
	}
}

@media only screen and (min-width: 801px) {
	#position_list {
		font-size:large;
	}
	
	#position_list .detail {
		padding-left:0rem;
		font-size:large;
	}
	
	#position_list .type_icon {
		display:flex;
	}
}