.showcase {
	border:2px solid teal;
	padding:1rem;
	margin-bottom:1em;
}

.showcase > h1 {
	font-size:large;
}


.date {
	color:maroon;
	font-size:medium;
	font-weight:bold;
}

.subbox {
	padding:1rem;
	margin-bottom:1em;
	background:#e5e5e5;
}