@media print {
    body {
        overflow:unset !important;
        height:unset !important;
    }

    .d-none-print {
        display:none;
    }
    

    #cv_main {
        width: 100% !important;
        height: unset !important;
        max-width: unset !important;
    }

    #cv_menu {
        width:0px;
        display:none;
    }

    .container {
        margin: unset !important;
        width: unset !important;
        max-width: unset !important;
    }

    /*#cv_main {
        padding-left: unset !important;
        max-width: unset !important;
        height:unset !important;
        margin: unset !important;
    }

    .container {
        padding-left: 1rem !important;
        margin:1rem;
        height: unset !important;
        margin: unset !important;
    }*/
}
